
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-1">
  <div class="navbar-nav nav-group-left">
     <a class="nav-item nav-link" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="/home">Home</a>
  </div>
  <div class="navbar-nav nav-group-right">   
    <a class="nav-item nav-link " routerLinkActive="active"  routerLink="/dashboard/employee">CustomEmployee</a>
    <a class="nav-item nav-link " routerLinkActive="active"  routerLink="/dashboard/product">MatEmployee</a>
       <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/dashboard/reactive">ReactiveRegistratin</a>
    <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/dashboard/registration">TemplateRegistratin</a>
    <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/dashboard/contactus">ContactUs</a>
    <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/home">Logout</a>
  </div>
</nav>

