<div class="mt-1">
    <form class="shadow rounded-2 p-2" style="background-color:lightgray" 
    #RegistrationForm="ngForm" (ngSubmit)="onSubmit()" >
        <div class="row ">
            <div class="form-group col-6">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstname" ngModel placeholder="Firstname" 
                ngModel >
            </div>
            <div class=" form-group col-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="emplastName" ngModel  placeholder="Last Name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label class="form-label">Country</label>
                <select  class="form-select"(change)="onCountryChange()" id="countrySelect" name="countrySelect" [(ngModel)]="selectedCountryCode">
                    <option selected value="" >-- Select a Country --</option>
                    <option *ngFor="let country of countries" [value]="country.code">
                        {{ country.name}}
                    </option>
                </select>                
            </div>
            <div class="form-group col-6">
                <label class="form-label">City</label>
                <select  class="form-select"  name="city"  [disabled]="!selectedCountryCode"
                [(ngModel)]="selectedCityCode">
                    <option selected value="" >-- Select a city --</option>
                    <option *ngFor="let city of filtercities" [value]="city.code">
                        {{ city.name}}
                    </option>
                </select>
            </div>            
        </div>   
        <div class="row">
            <div class="form-group col-6">
                <label class="form-label">Gender</label>
                <input type="text" class="form-control" name="gender" ngModel placeholder="">
            </div>
            <div class="form-group col-6">
                <label class="form-label">Pincode</label>
                <input type="text" class="form-control" name="pincode" ngModel placeholder="Pin code">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <div>
                    <label class="form-check-label"  for="exampleCheck1">Married</label>
                </div>
                <div>
                    <input type="checkbox" name="marriedCheckBox" class="form-check-input" ngModel id="exampleCheck1">
                </div>
            </div>
            <div class="form-group col-6">
                <label class="form-label">Date of birth</label>
                <input type="date" class="form-control" name="dob" ngModel max="2026-07-27">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label class="form-label">Address</label>
                <textarea type="text" class="form-control" name="address" ngModel rows="4" placeholder=""></textarea>
            </div>
        </div>
        <div class="row col-12 d-flex justify-content-center align-items-center" style="min-height: 100px;">
            <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
        </div>
    </form>
</div>